{% extends 'base.html' %}
{% load static %}

<!--<p> Booking for Little Lemon ! </p>

<form action = "" method = "post", style="background-color: #E0E0E2;">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit">
</form> -->

{% block content %}
    <h2 style="color: #495E57"> Book </h2>
    <p> This is an Booking page for Little Lemon </p>
    <form action="", method="post", style="background-color: #495E57;">
        {% csrf_token %}
        {{form.as_p}}
        <input type="submit", value="Submit">
    </form>
{% endblock content %}